/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

     /* center the nav list element */
     .navbar-light .navbar-nav .nav-link {
        
        text-align: center;
    }

    /* drop down ul color change */
    .navbar-nav {
        
        background: rgb(37, 37, 37);
    }

    /* nav bar color change (the left one )  */
    .navbar-light .navbar-toggler {
        
        background: white;
    }

    .banner-text {
      
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .banner-text h1::after {
       
        left: 50%;
        top: 100px;
        
    }
    .banner-text a {
        
        display: inline-block;
        width: 80%;
    }

    /* our story img */
      /* img */
      #about-part {
        
        text-align: center;
        padding-top: 10px;
    }
    /* our stroy heading  */
    .about-text h2 {
        
        padding-bottom: 30px;
        padding-top: 16px;
    }
    /* our story paragraph */
    .about-text p {
        
        padding-bottom: 10px;
    }

    /* service part over all padding */
    #service-part {
        padding: 30px 0px;
    }
    .service-head p::after {
      
        top: 71px;
  
    }
    .service-text {
        padding-top: 30px;
    }

    /* team  a*/
    .team-text-buttom a {
        
        display: inline-block;
        width: 80%;
    }
    .team-text-buttom p {
    
        padding-top: 108px;
        
    }

    .project-part-left h3 {
        
        text-align: center;
    }
    .project-part-right p {
       
        text-align: center;
    }
    .project-img img
    {
        width: 100%;
    }
    .project-btn a {
        
        width: 80%;
    }

    .contact-left a {
        width: 90%;
        text-align: center;
        margin: 16px 20px auto;
    }

    .contact-left h3, .contact-right h3 {
       
        padding-bottom: 35px;
        text-align: center;
        padding-top: 35px;
    }

    .team-arrow-left,
    .team-arrow-right {
        
        display: none;
    }

    .footer-wrap {
        
        text-align: center;
    }

    .footer-top-left p {
      
        padding: 13px 83px;
    }
    .footer-top-middle p {
        
        padding: 0px 114px;
    }

    .form-inline .form-control {
        padding: 20px;
        width: 244px;
        margin-right: 5px;
        margin-left: 40px;
    }


    .footer-bottom-left ul , .footer-bottom-right p{
        
        text-align: center;
    }
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .navbar-light .navbar-toggler {
       
        margin-right: 30px;
    }

    /* center the nav list element */
    .navbar-light .navbar-nav .nav-link {
        
        text-align: center;
    }

    /* drop down ul color change */
    .navbar-nav {
        
        background: rgb(37, 37, 37);
    }

    /* nav bar color change (the left one )  */
    .navbar-light .navbar-toggler {
        
        background: white;
    }
    
    /* heading after line  */
    .banner-text h1::after {
       
        top: 106px;
        
    }
    /* padding from top bottm */
    .banner-text {
        
        padding-top: 127px;
        padding-bottom: 56px;
    }
    /* banner padding  p */
    .banner-text p {
        
        padding: 60px 50px 50px 50px;
    }

    /* banner a  */

    .banner-text a {
    
        display: inline-block;
        width: 70%;
    }


    /* out story start  */

    /* our story padding */
    #about-part {
        
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    
    /* our story */
    .about-text h2 {
        
        padding-top: 25px;
        padding-bottom: 25px;
    }
    /* our story paragraph */
    .about-text p {
        
        padding-bottom: 10px;
        text-align: left;
    }
    /* out story  a */
    .about-text a {
        
        width: 100%;
    }

    /* our story part end */

    /* vedio part */
    #vedio-part {
        
        padding: 120px 0;
        
    }

    /* expertise */
    #service-part {
        padding: 35px 0px;
    }

    /* expertise line  */
    .service-head p::after {
     
        top: 2px;
      }

      /* expertise text  */
      .service-text {
        padding-top: 20px;
    }
    /* slider  dot */
    .slick-dots {
       
        bottom: -66px;
       
    }
    /* slider btn */
    .team-text-buttom a {
       
        display: inline-block;
        width: 80%;
    }

    /* our work a  */

    .project-btn a {
        
        width: 80%;
    }


    /* arrow  */
    .team-arrow-left ,.team-arrow-right {
        
        display: none;
    }

    /* contact left a */
    .contact-left a {
        
        width: 100%;
        text-align: center;
    }

    /* contact heading */

 .contact-right h3 {
        
        text-align: center;
        padding-top: 35px;
    }

    /* footer 1 */
    .footer-top-left img {
        
        margin-left: 172px;
    }
    
    /* footer 2 */
    .footer-top-middle
    {
        text-align: center;
    }
    .footer-top-middle h4, .footer-top-right h4 {
      
        font-size: 17px;
        
        padding-top: 10px;
    }
    .footer-top-middle p {
        
        text-align: left;
        margin-left: 105px;
    }
     .footer-top-right h4 {
    
        padding-top: 20px;
        text-align: center;
        padding-bottom: 20px;
    }

    .form-inline .form-control {
      
        width: 332px;
        
    }

    /* logo */

    .footer-top-right ul {
        
        text-align: center;
    }

    /* footer last part */
    .footer-bottom-left ul , .footer-bottom-right p{
        
        text-align: center;
    }
   
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
    /* center the nav list element */
    .navbar-light .navbar-nav .nav-link {
        
        text-align: center;
    }

    /* drop down ul color change */
    .navbar-nav {
        
        background: rgb(37, 37, 37);
    }

    /* nav bar color change (the left one )  */
    .navbar-light .navbar-toggler {
        
        background: white;
    }

    /* nav bar text */
    .banner-text {
        padding-top: 100px;
        padding-bottom: 182px;
    }
    /* our story */
    .about-text h2 {
        
        text-align: center;
        padding-top: 20px;
    }
    /* img */
    #about-part {
        
        text-align: center;
        padding-top: 10px;
    }
    /* out story paragraph */
    .about-text p {
        
        padding-bottom: 6px;
        text-align: left;
    }
    /* learn more btn */
    .about-text a {
     
        margin-top: 13px;
        width: 100%;
    }

    /* vedio part */
    #vedio-part {
        
        padding: 100px 0px;
        
    }

    /* Expertise  */
    .service-text {
        padding-top: 21px;
    }
    /* team slider  dot */
    .slick-dots {
        bottom: -51px;
    }
    /* our work btn */
    .project-btn a {
        
        width: 100%;
    }
    /* arrow left*/
    .team-arrow-left {
        
        top: 81%;
        left: 15%;
        
    }
    .team-arrow-right {
        
        top: 81%;
        right: 15%;
        
    }

    /* form btn */
    .contact-left a {
        
        width: 100%;
        text-align: center;
    }

    /* out happy client */
    .contact-left h3, .contact-right h3 {
        
        padding-top: 41px;
        text-align: center;
    }

    /* footer header */
    .footer-top-middle h4 {
        
        padding: 17px 0px 37px 0px;
    }
    /* footer top right */
    .footer-top-right
    {
        text-align: center;
    }


    /* footer form  */
    .form-inline .form-control {
        padding: 20px;
        width: 530px;
        margin-left: 10px;
    }
    /* footer form heading */
     .footer-top-right h4 {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 16px;
        padding-top: 39px;
    }
    .btn-custom {
        
        padding: 9px 44px;
    
    }
    /* social media logo */
    .footer-top-right ul li {
        width: 40px;
        height: 40px;
        line-height: 40px;
        
        text-align: center;
        margin-right: 24px;
    }
 }
/* 
